asyncio
aiohttp
SendGrid
nltk
numpy
networkx
google-cloud-storage
google-cloud-videointelligence
google-cloud-pubsub
flask
pytube3
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability